<h1>Edit Track</h1>
<%= form_for @track, :url =>{:action => "update", :id =>@track} do |f| %>
    <p>Name: <%= f.text_field 'name' %></p>
    <p>Album: <%= f.text_field 'album_id' %></p>
    <p>Media Type: <%= f.text_field 'media_type_id' %></p>
    <p>genre_id: <%= f.text_field 'genre_id' %></p>
    <p>Composer: <%= f.text_field 'composer' %></p>
    <p>Milliseconds: <%= f.text_field 'milliseconds' %></p>
    <p>Bytes: <%= f.text_field 'bytes' %></p>
    <p>Unit Price: <%= f.text_field 'unit_price' %></p>
    <%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', :back  %> 