<h3>Showing Track</h3>
<a href="../"><button>Back</button></a>
<fieldset>
    <b> ID: </b><%= @track.id %> <br>
    <b> Name: </b><%= @track.name %> <br>
    <b> Album: </b><%= @track.album_id %> <br>
    <b> Media Type: </b><%= @track.media_type_id %> <br>
    <b> Genre: </b><%= @track.genre_id %> <br>
    <b> Composer: </b><%= @track.composer %> <br>
    <b> milliseconds: </b><%= @track.milliseconds %> <br>
    <b> bytes: </b><%= @track.bytes %> <br>
    <b> Unit Price: </b><%= @track.unit_price %> <br>
    <b> Created at: </b><%= @track.created_at %><br>
    <b> Updated at: </b><%= @track.updated_at %><br>
    <br>    
</fieldset>