<h3>Showing Artist</h3>
<%= link_to  "EDITAR", edit_artist_path %>
<br>
<a href="../"><button>Back</button></a>
<fieldset>
    <b> ID: </b><%= @artist.id %> <br>
    <b> Name: </b><%= @artist.name %> <br>
    <b> Created at: </b><%= format(@artist.created_at) %><br>
    <b> Updated at: </b><%= format(@artist.updated_at) %><br>
    <br>    
</fieldset>