<%= link_to('Voltar para Principal', root_path) %>
<h2> Contar Elefantes </h2>
<%= form_tag(elefante_index_path, method: "get") do %>
  <div>
    <%= label_tag(:numero, "Quantidade: ") %>
    <%= number_field_tag(:numero, params[:numero]) %>
    <%= submit_tag("Contar") %>
  </div>
<% end %>

<% @frases.each do |frase| %>
  <li>
    <b> <%= frase %> </b>
  </li>
<% end %>
