<% if @aluno.errors.any? %>
  <p> Verifique os campos abaixo: </p>
  <% @aluno.errors.messages.each do |chave, valores| %>
  <li>
    <b> <%= chave %>: </b> <%= valores.to_sentence %>
  </li>
  <% end %>
<% end %>

<%= form_for @aluno do |f| %>
  <b> Nome: </b>
  <%= f.text_field :nome %>
  <hr>
  <b> Nota: </b>
  <%= f.number_field :nota %>
  <hr>
  <%= f.submit "Salvar" %>
<% end %>
<%= link_to 'Voltar', alunos_path %>
