<h1> Pedidos do Dia </h1>
<%= link_to 'Novo Pedido', new_pedido_path %>
<table>
  <tr>
    <th>Dia</th>
    <th>Nº</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Ações</th>
  </tr>
  <% @pedidos.each do |p| %>
    <tr>
      <td> <%= p.data_br %> </td>
      <td> <%= p.id %> </td>
      <td> <%= p.descricao %> </td>
      <td> <%= number_to_currency(p.valor, unit: "R$ ", separator: ",") %> </td>
      <td>
        <%= link_to 'Editar', edit_pedido_path(p) %> 
        <%= link_to 'Excluir', p, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
