<h1> Novo Pedido </h1>

<%= form_for @pedido do |f| %>
  <p>
    <%= f.label :descricao, 'Descrição' %>
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :valor, 'Valor' %>
    <%= f.number_field :valor, step: 0.01 %>
  </p>
  <p>
    <%= f.label :tipo, 'Tipo' %>
    <%= f. select :tipo, {'Entrada': true, 'Saída': false} %>
  </p>
  <p>
    <%= f.submit 'Salvar'%>
    <%= link_to 'Voltar', pedidos_path %>
  </p>
<% end %>
