<h3> Showing Album </h3>

<%= link_to  "Edit", edit_album_path %>

<fieldset>

  <b> ID: </b> <%= @album.id %> <br>
  <b> Title: </b> <%= @album.title %> <br>
  <b> Artist: </b> <%= @album.artist.name %> <br>
  <b> Created at: </b> <%= format(@album.created_at.strftime("%d/%m/%y %H:%M")) %> <br>
  <b> Updated at: </b> <%= format(@album.updated_at.strftime("%d/%m/%y %H:%M")) %> <br>

  <%= link_to "Back", "/albums" %>
</fieldset>
