<%= link_to('Voltar para Principal', root_path) %>
<h1> Velha Surda </h1>
<%= form_tag(velha_index_path, method: "get") do %>
  <%= label_tag(:fala, "Sua Mensagem:") %>
  <%= text_field_tag(:fala, params[:fala]) %>
  <%= submit_tag("Falar") %>
<% end %>

<h3> A Velha Responde </h3>
<%= @resposta %>
